<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>{% t banner.title%}</h1>
                <div class="desc">{% t banner.description%}

                </div>
                <dl>
                    <dt><img src="{{site.url}}/assets/images/round.png" alt=""></dt>
                    <dd>{% t banner.driven%}</dd>
                    <dt><img src="{{site.url}}/assets/images/triangular.png" alt=""></dt>
                    <dd>{% t banner.community%}</dd>
                    <dt><img src="{{site.url}}/assets/images/rectangle.png" alt=""></dt>
                    <dd>{% t banner.ocommunity%}</dd>
                    <dt><img src="{{site.url}}/assets/images/rhombus.png" alt=""></dt>
                    <dd>{% t banner.public%}</dd>
                </dl>
            </div>
            <div class="col-lg-6 bannerRht">
                <img src="{{site.url}}/assets/images/PathCopy.png" alt="" class="bulb">
                <img src="{{site.url}}/assets/images/banner.png" alt="" class="lightImg">
                <div class="light">
                    <img src="{{site.url}}/assets/images/light.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
