<footer id="Contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="know">{% t footer.title %}</div>
                <div class="show"><a href="https://tally.so/r/w5jj9E">{% t footer.button %}</a></div>
                <div class="contactbrdr">
                    <img src="{{site.url}}{% t footer.image %}" alt="" class="qrcode">
                    <div class="cont">
                        <div class="nameTop">{% t footer.name %}</div>
                        <div class="desc">{% t footer.desc %}</div>
                    </div>
                    <div class="contBg">
                        <img src="{{site.url}}/assets/images/bg.png" alt="">
                    </div>
                </div>
                <div class="copyright">{% t copyright %}</div>
            </div>
        </div>
    </div>
</footer>
