<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<link rel="shortcut icon" href="{{site.url}}/assets/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{{site.url}}/assets/css/bootstrap.min.css" >
<link rel="stylesheet" href="{{site.url}}/assets/fonts/alibaba-font.css">
<link rel="stylesheet" href="{{site.url}}/assets/fonts/dinCondensedBold.css">
<link rel="stylesheet" href="{{site.url}}/assets/css/style.css">
<link rel="stylesheet" href="{{site.url}}/assets/css/mobile.css">
<title>{{site.title}}</title>
