<div class="projects" id="Projects">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bg2title">{% t projects.title %}</div>
            </div>
        </div>
        <div class="row">
            <div class="projectBrdr" id="sourceDiv">
                <ul>
                    {% for item in site.translations[site.lang].projects.list %}
                        <li>
                            <div class="firstTR">
                                <div class="tit">{{ item.title }}</div>
                                <div class="logoA"><img src="{{site.url}}{{ item.image }}" alt=""></div>
                            </div>

                            <div class="desc">{{ item.desc }}
                            </div>
                            {% if item.href %}
                            <div><a href="{{ item.href }}" target="_blank">{{ item.href }}</a></div>
                            {% endif%}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="targetDiv" style="">
                <div></div>
            </div>
        </div>
    </div>
</div>
