<!doctype html>
<html lang="zh-CN">
<head>
    {% include header.html %}
</head>
<body data-spy="scroll" data-target="#navbar">
<div id="topBtn"></div>
<header>
    <div class="container">
        <nav class="row navbar navbar-expand-md">
            <div class="col-8 col-sm-8 col-lg-2 logo">
                <img src="{{site.url}}/assets/images/LOGO.png" alt="">
            </div>
            <div class="col-4 col-sm-4 col-lg-10 rht" id="navRht">
                <button class="navbar-toggler" id="navBtn">
                    <span class="navbar-toggler-icon"><img src="{{site.url}}/assets/images/hb.png" alt=""></span>
                </button>
                <div class="navRhtBrdr">
                    <div class="navInner">
                        <div class="logo375">
                            <img src="{{site.url}}/assets/images/LOGO.png" alt="" class="logoRht">
                            <img src="{{site.url}}/assets/images/close.png" alt="" class="closeRht" id="close">
                        </div>
                        <ul class="nav-rht justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link active" href="#home">{% t nav.Home%}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Investment">{% t nav.Investment%}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Members">{% t nav.Members%}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Projects">{% t nav.Projects%}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Contact">{% t nav.Contact%}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mask"></div>

                </div>
            </div>
            <div class="col-4 col-sm-4 col-lg-10 rht" id="navbar">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" href="#home">{% t nav.Home%}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Investment">{% t nav.Investment%}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Members">{% t nav.Members%}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Projects">{% t nav.Projects%}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contact">{% t nav.Contact%}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<div class="maincontent" id="home">
    {% include banner.html %}

    {% include philosophy.html %}

    {% include members.html %}

    {% include project.html %}
</div>


{% include footer.html %}

{% include footerImport.html %}
</body>
</html>
